.c{
    color: white;
    background-image: url('https://res.cloudinary.com/dzakrz6wd/image/upload/f_auto,q_auto/samples/ecommerce/leather-bag-gray.jpg');
    background-size: cover;
    height: 200px;
    width: 200px;
}